<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated game -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.mdse.game.presentation.GameModelWizardID"
            name="%_UI_GameModelWizard_label"
            class="org.mdse.game.presentation.GameModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GameModelFile.gif">
         <description>%_UI_GameModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated game -->
      <editor
            id="org.mdse.game.presentation.GameEditorID"
            name="%_UI_GameEditor_label"
            icon="icons/full/obj16/GameModelFile.gif"
            extensions="game"
            class="org.mdse.game.presentation.GameEditor"
            contributorClass="org.mdse.game.presentation.GameActionBarContributor">
      </editor>
   </extension>

</plugin>
