<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated puzzle -->
      <package
            uri="http://org.mdse/puzzle"
            class="org.mdse.puzzle.PuzzlePackage"
            genModel="model/puzzle.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated puzzle -->
      <package
            uri="http://org.mdse/constructs"
            class="constructs.ConstructsPackage"
            genModel="model/puzzle.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated puzzle -->
      <package
            uri="http://org.mdse/game"
            class="game.GamePackage"
            genModel="model/puzzle.genmodel"/>
   </extension>

</plugin>
